.form {
  z-index: 1px;
  top: 100px;
  position: absolute;
  right: 12%;
}

input[type="text"] {
  padding: 8px;
  border: none;
  border-radius: 4px;
  margin-right: 2px;
  font-size: 16px;
}

button[type="submit"] {
  background-color: rgba(52, 121, 23, 255);
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
