* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  border: 0;
}

main {
  display: flex;
}

.sidebar {
  width: 250px;
  background-color: #006298;
  border-radius: 10px;
  padding: 5px;
  margin: 5px 5px 5px 5px;
  height: fit-content;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-radius: 10px;
}

.ul-columns {
  min-width: 400px;
  columns: 2;
  max-height: 400px;
}

li {
  padding: 5px;
  position: relative;
  height: 50px;
  cursor: pointer;
}

a {
  color: white;
  text-decoration: none;
  margin-left: 5px;
}

a:hover {
  color: orange;
}

ul ul {
  position: absolute;
  top: 0;
  left: 100%;
  width: 270px;
  background-color: #006298;
  display: none;
}

ul ul.show {
  display: block;
}

li:hover {
  background-color: #007acc;
}

.info-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: solid;
  border-color: white;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
}

.info-icon:hover {
  color: orange;
  border-color: orange;
}

.info-arrow-div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid white;
}

.li-expandable-item,
.li-item-regular {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  content: attr(data-description);
  overflow: hidden;
  position: absolute;
  bottom: 50%;
  left: 25%;
  background-color: rgba(9, 78, 121, 255);
  border: 1px solid black;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
  max-width: 200px;
  font-size: 12px;
  text-align: center;
}

#myIframe {
  width: calc(100% - 250px);
  height: 100%;
  padding: 5px;
}

#iframeImg {
  width: 100%;
  object-fit: contain;
  height: 100%;
}
